@charset "US-ASCII";

/* advancedfx.org  */

.afx_header {
	background-color:#F0F0F0;
	border-bottom: 1px solid #A0A0A0;
	padding:0.5em;
	text-align:center;
	font-size:1.2em;
}

.afx_header img {
	border: none;
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

.afx_current_page {
	font-weight:bold;
}

.afx_content {
	padding-bottom:2em;
}

.afx_footer {
	background-color:#F0F0F0;
	border-top: 1px solid #A0A0A0;
	padding-top:0.5em;
	padding-bottom:0.5em;
	text-align:center;
	width:100%;
	height:1em;
	position:absolute;
	bottom:0;
	left:0;
}

html {
	height:100%;
}

body {
	height:100%;
	font-family:Arial;
	min-width:600px;
	margin:0;
	padding:0;
}

#wrapper {
	min-height:100%;
	position:relative;
}

a:link { color:blue; text-decoration:underline; }
a:visited { color:navy; text-decoration:underline; }
a:active,a:focus,a:hover { color:blue; text-decoration:underline; background-color:#E0E0FF; }
a[name]:hover { color:inherit; text-decoration:inherit; background:inherit }

.box  {
	margin:1em;
}

.box_header {
	background-color:#F0F0F0;
	border-bottom: 1px solid #A0A0A0;
	padding:0.5em;
	font-weight:bold;
}

.box_content {
	background-color:#F8F8F8;
	padding:0.5em;
}

.box_bg {
	background:silver;
}
