<p style="border:1px dotted #609060;background-color:#C0F0C0;">Current release, compatible with latest Steam version:<br />
<a href="https://github.com/ripieces/advancedfx/releases/latest"><span style="font-size: larger;"><strong>HLAE 2.4.6.5</strong></span> (2015-05-27T14:05Z)</a> (<a href="http://advancedfx.org/files/logo2009.svg">logo</a>)</p>

<p style="border:1px dotted #808080;background-color:#E0E0E0;">Release compatible with Steam version from July 2009 (unsupported):<br />
<a href="https://github.com/ripieces/advancedfx/releases/tag/v2.2.21.14"><span style="font-size: larger;"><strong>HLAE 2.2.21.14</strong></span> (2013-02-09T14:16Z)</a></p>

<p><span style="color: rgb(128, 0, 0);"><strong>VAC warning:</strong></span> The HLAE tool is technically a hack, therefore you should use it for making movies / watching demos only. Joining VAC protected servers with HLAE might get you VAC banned.<br />
<span style="color: rgb(128, 0, 0);"><strong>Epilepsy warning:</strong></span> This software will cause fast changing images and colors on your screen.</p>

<p><u>About:</u> <a href="https://github.com/ripieces/advancedfx/wiki/Half-Life-Advanced-Effects">HLAEwiki</a></p>

<p><u>Documentation:</u> <a href="https://github.com/ripieces/advancedfx/wiki">HLAEwiki</a></p>

<p><u>System requirements:</u></p>

<p>- Microsoft Windows XP /&nbsp;Vista /&nbsp;7 or similar<br />
- <a href="http://www.microsoft.com/net/">Microsoft .NET Framework 4.0 or newer</a><br />
- Genuine Steam version<br />
- OpenGL 1.1 or newer<br />
- a lot of patience<br />
&nbsp;</p>

<p><u>Tip:</u></p>

<p>Using <a href="https://support.steampowered.com/kb_article.php?ref=3160-AGCB-2555" target="_blank">Steam&#39;s offline mode</a> you can avoid retriving updates that break HLAE during movie production.<br />
&nbsp;</p>

<p><u>Changelog:</u></p>

<div style="border: 1px solid black; padding: 4px">
<p><tt>HLAE 2.4.6.5 (2015-05-27T14:05Z)</tt></p>

<p><tt>U Included AfxHookSource 0.0.11.3 (2015-05-27T14:05Z). </tt></p>

<p><br />
<tt>AfxHookSource 0.0.11.3 (2015-05-27T14:05Z)</tt></p>

<p><tt>U Adjusted AfxHookSource to 26th May 2015 CS:GO update.</tt></p>

<p><tt>U Limited usable fov (Field Of View) range (affects mirv_fov and mirv_campath) to between 1 degree to 179 degrees. </tt><br />
&nbsp;</p>

<p><tt>HLAE 2.4.6.3 (2015-05-14T17:54Z)</tt></p>

<p><tt>+ Fixed writing of hlaeconfig.xml failing randomly, due to the file stream for reading it not being closed deterministically beforehand.</tt></p>

<p><tt>We are aware of a small number of Windows 8 / 8.1 users that have random crashes and freezes (i.e. when loading a demo) with HLAE / AfxHookSource.<br />
If you are affected by it, consider contacting us in the appropriate forum thread: <a href="http://advancedfx.style-productions.net/forum/viewtopic.php?f=6&amp;t=1666">http://advancedfx.style-productions.net/forum/viewtopic.php?f=6&amp;t=1666 </a></tt><br />
&nbsp;</p>
<tt>HLAE&nbsp;2.4.6.2&nbsp;(2015-05-08T20:10Z)<br />
<br />
U Turns out Visual Studio 2010 SP1 was not properly installed on the build computer, reinstalled it and updated or rebuild all files included in the HLAE download accordingly. Hopefully this fixes some problems on Windows 8 some users are experiencing i.e. with AfxHookSource (but maybe not).<br />
<br />
U Included AfxHookGoldSrc 2.4.6.2 (2015-05-08T20:10Z).<br />
<br />
U Included AfxHookSource 0.0.11.2 (2015-05-08T20:10Z).<br />
<br />
U Changelog entries specific to AfxHookGoldSrc has been separated from the HLAE changelog to avoid user confusion.</tt></div>

<p>Further changelog entries can be found in the changelogs included download.</p>

<p><u>Author:</u> <a href="https://github.com/ripieces/advancedfx/blob/master/resources/readme.txt">HLAE Team</a></p>