<p>Other plugins /&nbsp;scripts to make your life easier.<br />
&nbsp;</p>
<p><strong>Cinema 4D </strong>Script: <a href="http://lvps5-35-245-76.dedicated.hosteurope.de/index.php?site=files&amp;file=215"><strong>Crafty Material Fix</strong> 0.1</a><br />
<u>About:</u>&nbsp;Automates fixing material /&nbsp;texture links for maps exported by Crafty.<br />
<u>Documentation:</u>&nbsp;<a href="http://www.youtube.com/watch?v=fPM6KSgypq4">video tutorial</a><br />
<u>Author</u>: <a href="http://advancedfx.org/wiki/User:Msthavoc">msthavoc</a></p>