<p>Please use our <a href="http://advancedfx.style-productions.net/forum/"><strong>forum</strong></a> if you have questions related to HLAE or want to contact individual members!</p>

<p>For adminstrative purposes: <a href="mailto:contact@advancedfx.org">contact@advancedfx.org</a></p>

<p>There is also an official IRC channel:&nbsp;<a href="irc://irc.quakenet.org:6667/hlae">#HLAE (QuakeNet)</a> (You can use this <a href="http://webchat.quakenet.org/?channels=hlae">webchat</a>.)<br />
We are usually online there as follows:<br />
2015-03-29 - 2015-10-24: 18:45 UTC - 19:45 UTC</p>