<p style="border:1px dotted #609060;background-color:#C0F0C0;">Current release, compatible with latest Steam version:<br />
<a href="https://github.com/ripieces/advancedfx/releases/latest"><span style="font-size: larger;"><strong>HLAE 2.4.8.1</strong></span> (2015-07-01T17:13Z)</a> (<a href="https://github.com/ripieces/advancedfx/releases">old versions</a>) (<a href="http://advancedfx.org/files/logo2009.svg">logo</a>)</p>

<p style="border:1px dotted #808080;background-color:#E0E0E0;">Release compatible with Steam version from July 2009 (unsupported):<br />
<a href="https://github.com/ripieces/advancedfx/releases/tag/v2.2.21.14"><span style="font-size: larger;"><strong>HLAE 2.2.21.14</strong></span> (2013-02-09T14:16Z)</a></p>

<p><span style="color: rgb(128, 0, 0);"><strong>VAC warning:</strong></span> The HLAE tool is technically a hack, therefore you should use it for making movies / watching demos only. Joining VAC protected servers with HLAE might get you VAC banned.<br />
<span style="color: rgb(128, 0, 0);"><strong>Epilepsy warning:</strong></span> This software will cause fast changing images and colors on your screen.</p>

<p><u>About:</u> <a href="https://github.com/ripieces/advancedfx/wiki/Half-Life-Advanced-Effects">HLAEwiki</a></p>

<p><u>Documentation:</u> <a href="https://github.com/ripieces/advancedfx/wiki">HLAEwiki</a></p>

<p><u>System requirements:</u></p>

<p>- Microsoft Windows XP /&nbsp;Vista /&nbsp;7 or similar<br />
- <a href="http://www.microsoft.com/net/">Microsoft .NET Framework 4.0 or newer</a><br />
- Genuine Steam version<br />
- OpenGL 1.1 or newer<br />
- a lot of patience<br />
&nbsp;</p>

<p><u>Tip:</u></p>

<p>Using <a href="https://support.steampowered.com/kb_article.php?ref=3160-AGCB-2555" target="_blank">Steam&#39;s offline mode</a> you can avoid retriving updates that break HLAE during movie production.<br />
&nbsp;</p>

<p><u>Changelog:</u></p>

<div style="border: 1px solid black; padding: 4px">
<p><tt>
HLAE 2.4.8.1 (2015-07-01T17:13Z)<br />
<br />
U Included AfxHookSource 0.0.13.1 (2015-07-01T17:13Z). <br />
<br />
<br />
AfxHookSource 0.0.13.1 (2015-07-01T17:13Z)<br />
U Adjusted AfxHookSource to 30th June 2015 CS:GO update. <br />
<br />
</tt></p>
<p><tt>
HLAE 2.4.8.0 (2015-06-15T19:14Z)<br />
<br />
U Included AfxHookSource 0.0.13.0 (2015-06-15T19:14Z).<br />
<br />
U Included AfxHookGoldSrc 2.4.7.0 (2015-06-15T19:14Z). <br />
<br />
<br />
AfxHookSource 0.0.13.0 (2015-06-15T19:14Z)<br />
<br />
* Added mirv_gameoverlay command for lazy people (you know who you are) that allows to disable / enable the gameoverlay. This command is useful in AfxHookSource, since the gameoverlay will be recorded with startmovie otherwise. Please note that this will not disable Steam notification sounds, but those are not recorded by startmovie anyway. <br />
<br />
<br />
AfxHookGoldSrc 2.4.7.0 (2015-06-15T19:14Z)<br />
<br />
* Added mirv_gameoverlay command for lazy people (you know who you are) that allows to disable / enable the gameoverlay. This command is problably not useful in AfxHookGoldSrc, since the gameoverlay will not be recorded by HLAE anyway probably. Please note that this will not disable Steam notification sounds, but those are not recorded by HLAE anyway. <br />
<br />
</tt></p>
<p><tt>
HLAE 2.4.7.1 (2015-06-09T12:00Z)<br />
<br />
U Included AfxHookSource 0.0.12.1 (2015-06-09T11:59Z). <br />
<br />
<br />
AfxHookSource 0.0.12.1 (2015-06-09T11:59Z)<br />
<br />
+ Fixed mirv_input camera mouse being trapped in window for POV demos. <br />
<br />
</tt></p>
<p><tt>
HLAE 2.4.7.0 (2015-06-09T07:47Z)<br />
<br />
U Included AfxHookSource 0.0.12.0 (2015-06-09T07:45Z). <br />
<br />
<br />
AfxHookSource 0.0.12.0 (2015-06-09T07:45Z)<br />
<br />
* Added mirv_input for input control (i.e. of camera), the command will be documented in the HLAE Manual. <br />
<br />
</tt></p>
</div>

<p>Further changelog entries can be found in the changelogs included download.</p>

<p><u>Author:</u> <a href="https://github.com/ripieces/advancedfx/blob/master/resources/readme.txt">HLAE Team</a></p>