<p style="background: none repeat scroll 0% 0% rgb(224, 224, 224); padding: 10px; text-align: center;">The following videos or clips do not represent the actual software.<br />
HLAE is just a small piece in a big puzzle.</p>

<p style="text-align:center; border: 1px dotted grey; padding:10px; margin:10px; background-color:white;"><a href="http://www.youtube.com/playlist?list=PLk6wtwbxOYbBK23hVDW4RWjWG_lRO0d-J"><b>advancedfx unsorted 2015</b> playlist</a><br />
<iframe allowfullscreen="" frameborder="0" height="360" src="http://www.youtube-nocookie.com/embed/videoseries?list=PLk6wtwbxOYbBK23hVDW4RWjWG_lRO0d-J" width="640"></iframe></p>

<p style="text-align:center;"><a href="http://www.youtube.com/playlist?list=PLk6wtwbxOYbCO3CsYdlv0MWOvyMWiRQUz">advancedfx unsorted 2014 playlist</a> (~84 videos)</p>

<p style="text-align:center;"><a href="http://www.youtube.com/playlist?list=PLk6wtwbxOYbB29YeuRdNQ-Y28lY1qLeI9">advancedfx unsorted 2011 - 2013 part 2 playlist</a> (~180 videos)</p>

<p style="text-align:center;"><a href="http://www.youtube.com/playlist?list=PLk6wtwbxOYbD4Qxeu2fb2f9nz5tebCCh6">advancedfx unsorted 2011 - 2013 playlist</a> (~200 videos)</p>

<p style="text-align:center;"><a href="http://www.youtube.com/playlist?list=PLEA88978AE66B3827">advancedfx unsorted 2008 - 2010 playlist</a> (~160 videos)</p>

<p style="text-align:center;">You may find many tutorials and further content on <a href="http://www.youtube.com/user/msthavoc#g/p" target="_blank">msthavoc&#39;s YouTube.com account</a>.</p>
