<p>These plugins /&nbsp;scripts assist you with importing HLAE camera motion data in various 3D applications or exporting to HLAE again.<br />
&nbsp;</p>
<p><strong>3DsMax</strong> Import Plugin <a href="http://www.mst-gaming.de/index.php?site=files&amp;file=216">HLAE&nbsp;Cam&nbsp;Importer 1.0.4</a><br />
<strong>3DsMax</strong> Export Plugin <a href="http://www.mst-gaming.de/index.php?site=files&amp;file=230">HLAE&nbsp;Cam Exporter 1.0.0</a><br />
<u>Documentation:</u> <a href="https://github.com/ripieces/advancedfx/wiki/HLAE-Cam-Importer">HLAEwiki</a><br />
<u>System requirements:</u> HLAE 2.2.5.14 or newer, 3dsMax 5.x(?7.x / 2008?) or newer.<br />
<u>Author:</u> msthavoc</p>
<p><strong>After Effects </strong>Import Script: <a href="http://www.mst-gaming.de/index.php?site=files&amp;file=227">hlaebvh2AECam1.5</a><strong><br />
After Effects </strong>Export Script: <a href="http://www.mst-gaming.de/index.php?site=files&amp;file=229">AECam2hlaebvh1.0</a><br />
<u>Documentation:</u> <a href="http://www.youtube.com/view_play_list?p=CE8192FD6342179D">video tutorials</a><br />
<u>Author</u>: msthavoc</p>
<p><strong>Blender <a href="http://download.blender.org/release/Blender2.49b/">2.49b</a></strong> Import plugin: <a href="https://github.com/ripieces/advancedfx/blob/tool-files/blender_hlae_camimport_0_0_2_2.zip?raw=true">HLAE&nbsp;Camera Motion Import 0.0.2.2 (2010-01-23T17:50Z)</a><br />
<strong>Blender 2.49b</strong> Export plugin: <a href="https://github.com/ripieces/advancedfx/blob/tool-files/blender_hlae_camexport_0_0_2_2.zip?raw=true">HLAE&nbsp;Camera Motion Export 0.0.2.2 (2010-01-23T17:50Z)</a><br />
<u>Documentation:</u> <a href="https://github.com/ripieces/advancedfx/wiki/HLAE-camera-motion-and-Blender">HLAEwiki</a><br />
<u>System requirements:</u> HLAE 2.2.5.14 or newer, Blender 2.46 - Blender 2.49b<br />
<u>Author:</u> <a href="https://github.com/ripieces">ripieces</a></p>
<p><strong>Cinema 4D </strong>Import Plugin: <a href="http://www.mst-gaming.de/index.php?site=files&amp;file=244">hlcam2c4d 1.4</a><span style="background-color: rgb(255, 204, 153);"><br />
</span><strong>Cinema 4D</strong> Export Plugin: <a href="http://www.mst-gaming.de/index.php?site=files&amp;file=201">c4d2hlcam 1.0</a><br />
<u>Documentation:</u> <a href="https://github.com/ripieces/advancedfx/wiki/HLAE-Cam-2-Cinema4D">HLAEwiki</a>, <a href="http://www.youtube.com/view_play_list?p=86726D0E3D469EE5">video tutorials</a><br />
<u>System requirements:</u> HLAE 2.2.5.14 or newer, Cinema 4D R9.5 or newer<br />
<u>Author:</u> msthavoc</p>
<!--
<p><a href="#hlae-download"><strong>HLAE&nbsp;AfxHookSource</strong> (included in the HLAE&nbsp;download)</a><br />
<u>About:</u> Minimal HLAE&nbsp;plugin /&nbsp;hook for Counter-Strike Source.<br />
This plugin is technically a hack, therefore you should use it for making movies / watching demos only.<br />
<u>Documentation:</u> <a href="https://github.com/ripieces/advancedfx/wiki/AfxHookSource">HLAEwiki</a><br />
<u>System requirements:</u> Genuine Counter-Strike Source.<span style="background-color: rgb(255, 204, 153);"><br />
</span><u>Author:</u> <a href="https://github.com/ripieces">ripieces</a><br />
&nbsp;</p>
-->
<p><u>Writing your own plugin:</u><br />
The HLAE&nbsp;.bvh format is very <u>similar to but currenlty not compatbile with</u> the <a href="http://www.cs.wisc.edu/graphics/Courses/cs-838-1999/Jeff/BVH.html">BioVision (BVH) format</a>: The only difference is that HLAE&nbsp;rotation order is XYZ while BVH&nbsp;would require&nbsp;ZXY.</p>