<p style="border:1px dotted #609060;background-color:#C0F0C0;">Current release, compatible with latest Steam version:<br />
<a href="https://github.com/ripieces/advancedfx/releases/latest"><span style="font-size: larger;"><strong>HHLAE 2.5.0.0</strong></span> (2015-07-27T09:10Z)</a> (<a href="https://github.com/ripieces/advancedfx/releases">old versions</a>) (<a href="http://advancedfx.org/files/logo2009.svg">logo</a>)</p>

<p style="border:1px dotted #808080;background-color:#E0E0E0;">Release compatible with Steam version from July 2009 (unsupported):<br />
<a href="https://github.com/ripieces/advancedfx/releases/tag/v2.2.21.14"><span style="font-size: larger;"><strong>HLAE 2.2.21.14</strong></span> (2013-02-09T14:16Z)</a></p>

<p><span style="color: rgb(128, 0, 0);"><strong>VAC warning:</strong></span> The HLAE tool is technically a hack, therefore you should use it for making movies / watching demos only. Joining VAC protected servers with HLAE might get you VAC banned.<br />
<span style="color: rgb(128, 0, 0);"><strong>Epilepsy warning:</strong></span> This software will cause fast changing images and colors on your screen.</p>

<p><u>About:</u> <a href="https://github.com/ripieces/advancedfx/wiki/Half-Life-Advanced-Effects">HLAEwiki</a></p>

<p><u>Documentation:</u> <a href="https://github.com/ripieces/advancedfx/wiki">HLAEwiki</a></p>

<p><u>System requirements:</u></p>

<p>- Microsoft Windows XP /&nbsp;Vista /&nbsp;7 or similar<br />
- <a href="http://www.microsoft.com/net/">Microsoft .NET Framework 4.0 or newer</a><br />
- Genuine Steam version<br />
- OpenGL 1.1 or newer<br />
- a lot of patience<br />
&nbsp;</p>

<p><u>Tip:</u></p>

<p>Using <a href="https://support.steampowered.com/kb_article.php?ref=3160-AGCB-2555" target="_blank">Steam&#39;s offline mode</a> you can avoid retriving updates that break HLAE during movie production.<br />
&nbsp;</p>

<p><u>Changelog:</u></p>

<div style="border: 1px solid black; padding: 4px">
<p><tt>
HLAE 2.5.0.0 (2015-07-27T09:10Z)<br />
<br />
U Included AfxHookGoldSrc 2.4.7.1 (2015-07-26T18:10Z).<br />
<br />
U Included AfxHookSource 0.1.0.0 (2015-07-27T09:07Z). <br />
<br />
<br />
AfxHookGoldSrc 2.4.7.1 (2015-07-26T18:10Z)<br />
<br />
+ Fixed crosshair fix when previewing (aka not recording) not using the correct host_frametime. <br />
<br />
<br />
AfxHookSource 0.1.0.0 (2015-07-27T09:07Z)<br />
<br />
* Added <a href="https://github.com/ripieces/advancedfx/wiki/Source%3Amirv_streams">mirv_streams</a> officially (renamed from __mirv_streams). The system still has it's limitations, but is now in a state where it makes sense to offer it to more users. A few examples for this command will be added to the HLAE Manual hopefully. <br />
<br />
</tt></p>
<p><tt>
HLAE 2.4.10.0 (2015-07-24T17:30Z)<br />
<br />
U Included AfxHookSource 0.0.13.7 (2015-07-24T17:30Z). <br />
<br />
<br />
AfxHookSource 0.0.13.7 (2015-07-24T17:30Z)<br />
<br />
+ Fixed crashes due to class pointer not being offset according to used interface in case of multiple inheritance in CAfxMesh (IMesh wrapper). Thanks to the great and mighty anthony for providing a demo with the problem. <br />
<br />
</tt></p>
<p><tt>
HLAE 2.4.9.0 (2015-07-23T16:00Z)<br />
<br />
+ Fixed 64 bit versions of msvcp100.dll, msvcr100.dll being packaged instead of 32 bit versions.<br />
<br />
U Updated launcher for GoldSrc games (AfxHookGoldSrc) to display a warning icon and information if game resolution height is bellow 480 pixels, since then the Half-Life's TrackerScheme.res would need to be adjusted aka an EngineFont for bellow 480 pixels would need to be added, otherwise text (i.e. death notice text) will be missing in-game. <br />
<br />
</tt></p>
</div>

<p>Further changelog entries can be found in the changelogs included download.</p>

<p><u>Author:</u> <a href="https://github.com/ripieces/advancedfx/blob/master/resources/readme.txt">HLAE Team</a></p>