<p style="border: 1px solid black; padding: 4px;"><tt><a href="http://www.hhg-clan.de/hlae/files/hlae_testing.zip">HLAE testing 2.3.0.0</a> (2010-11-20T11:19Z)<br />
<br />
* Finished porting JS-based features to Xpress features.<br />
<br />
* Included Xpress documentation (see READ_ME.html) in the download.<br />
<br />
* Added xexec command for easily executing files in the script folder. <br />
<br />
This testing release has known flaws, see included Xpress doc.<br />
</tt></p>
<p style="border: 1px solid black; padding: 4px;"><tt>This release includes example code. Load up a demo and enter the following into the game console:<br />
xexec test.x.txt</tt></p>
<p style="border: 1px solid black; padding: 4px;"><tt>Known </tt><tt>problems:<br />
- Forgot to handle floating point values, so they you can't use them (luckily the example doesn't need any hehe)</tt><span style="font-family: monospace;"><br />
- Mistake in Xpress object dependency graph (loop)</span></p>
<p style="border: 1px solid black; padding: 4px;"><span style="font-family: monospace;">Todo:<br />
- Xpress: Named (user)&nbsp;functions <a href="http://hhg-clan.de/hlae/forum/viewtopic.php?p=3020#p3020">(resolved at compile time)</a><br />
- Xpress: Fixes for known problems<br />
</span></p>