<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>{{ page.title }} - advancedfx.org</title>
		<link rel="stylesheet" type="text/css" href="/css/afx.css">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	</head>
	<body>
		<div id="wrapper">
			<div class="afx_header">
				<a href="/"><img src="/files/hlae_64x64.png" alt="advancedfx.org"></a>
				<a href="/" class="{% if page.overview %}afx_current_page{% endif %}">Home</a>
				&nbsp;|&nbsp; <a href="/download/" class="{% if page.url contains '/download/' %}afx_current_page{% endif %}">Download</a>
				&nbsp;|&nbsp; <a href="http://advancedfx.style-productions.net/forum/">Forum</a>
				&nbsp;|&nbsp; <a href="https://github.com/ripieces/advancedfx/wiki">Manual</a>
				&nbsp;|&nbsp; <a href="/media/" class="{% if page.url contains '/media/' %}afx_current_page{% endif %}">Media</a>
				&nbsp;|&nbsp; <a href="/contact/" class="{% if page.url contains '/contact/' %}afx_current_page{% endif %}">Contact</a>
			</div>
			<div class="afx_content">